https://www.linkedin.com/jobs/view/4084136752/?eBP=CwEAAAGT6LpWE0PbBzTx-Frcg1YIJdiOi9ai11GM1_YhfAs-OWrmF-8Agwatbdcy7CEzz_KiARLGr7GN7FqOKVWWjBa3tWD6AdhXcedLEXOeEL3FBMgwrQGha8v4J8zxuCMP1CUuPoZ_nOM2TMzxIrS6R_y4-1jmC2x20ipnVqbqZ6pkGPHIDhXk2YJcp09BaCit4EJmsFY2i8mwYytw50nD-nMUMhynr6WG4KQgy2IRvBz2ldKPh084DVCxpgfbCXXl2yVzRd_58X4OYuh7ZAOO56UE0ewBLSLdcz1FzYMG-j1sZwwJ5kFN8JpSC96tEW01vRm_q2RqyRXSa3S_C7sCfx2TZQSd94WXRlsqhVVwjIkYtIXxufYcnoK6aMjvmqfQGkRd45hxm00qvi7lWD-fuaPuu8l6XAXRQR6PpOBaHCPzZX-6uZz-iSje8ilDcLRaPmInxGz0WJHKSrui_sxfhqmy6ww1i9vbiol7n89XGKlPPQ&refId=%2B%2BuBFBT859eFwMU5lA7xtQ%3D%3D&trackingId=2tvJ4ZrTqLfe6QoxUwXADA%3D%3D&trk=flagship3_jobs_discovery_jymbii

My client is a top-tier hedge fund specializing in systematic trading strategies across global markets. The firm have a strong track record of success, through combining cutting-edge technology and rigorous research, and are in their next growth phase.



They are looking to hire a Quantitative Researcher to join their Global Equities team in London. This is an opportunity to contribute to alpha generation strategies and work collaboratively with a team of highly successful quants.



Key Responsibilities:

Conduct alpha research for systematic global equities trading strategies.
Develop, test, and refine predictive models and signals for alpha generation.
Analyze large and complex datasets to generate trading signals.
Collaborate with portfolio managers, data scientists, and engineers to integrate research into production trading systems.
Stay at the forefront of quantitative finance, applying cutting-edge techniques and tools to enhance strategy performance.


Qualifications & Skills:

Proven experience in alpha generation for systematic trading, ideally within global equities.
PhD in a technical field (e.g., Mathematics, Statistics, Computer Science, Physics, or a related discipline) or equivalent research experience.
Strong programming skills, with proficiency in Python, R, or C++.
Expertise in data analysis, statistical modeling, and machine learning techniques.
Deep understanding of financial markets, particularly equities.
Ability to think creatively, solve complex problems, and communicate findings effectively.


What They Offer:

Competitive salary and performance-linked bonus.
Dynamic and intellectually stimulating work environment.
Opportunity to work with cutting-edge technology and access to vast data resources.
Career growth in a leading global hedge fund.